.placeItem {

	--padding-top: 1.5rem;
	--padding-bottom: 1.5rem;

	img {

		height: 4.5rem;
		width: 4.5rem;
		border-radius: 20px;
		padding: 0.2rem;
		border: 2px solid rgb(226, 226, 226);
		margin-right: 1rem;
	}

	.placeItemRating {

		display: flex;
		align-content: center;
		align-items: center;

		svg {

			margin-right: 0.2rem;
			color: rgba(255, 201, 23, 0.404);
		}
	}
}