:root {

    --ion-background-color: white;
    --ion-tab-bar-background: var(--ion-color-dark);
    --ion-tab-bar-color: rgb(112, 112, 112);
    --ion-tab-bar-color-selected: rgb(255, 255, 255);
}

ion-tab-bar {

	box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.4);
	border-radius: 30px !important;

	height: 70px;
	width: 85%;
	padding-top: 5px;
	padding-bottom: 5px;

	bottom: 30px;
	position: relative;
	margin: 0 auto !important;
	border-top: none;
}

ion-tab-button {

    border-radius: 30px !important;
}